/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
---------------------------------------------------
 */

html{
	height: 100%;
	font-size: 62.5%;
}
body{
	height: 100%;
	font-size: 1.6rem;
	font-family: "proxima_novalight","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.app{
	height: 100%;
}
.splash{
	background-color: #74AC2C;
	color: #E9EADA;
	height: 100%;
	text-align: center;
	width: 100%;
}
.intro-text{
	padding-top: 5%;
}
.start{
	letter-spacing: 1px;
	margin: 0 auto;
	margin-top: 15%;
	width: 160px;
}
.start a{
	border: 2px solid #E9EADA;
	border-radius: 4px;
	color: #E9EADA;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}
.main-header{
	background-color: #74AC2C;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	color: #E9EADA;
	font-size: 1.0rem;
	padding-left: 2.5%;
	width: 100%;
}
.title{
	float: left;
	font-size: 1.2rem;
	letter-spacing: 1px;
	margin: 2px 0 4px 0;
	text-transform: uppercase;
}
.tasks-completed{
	border-right: 1px solid #E9EADA;
	float: left;
	clear: left;
	margin-right: 4px;
	padding-right: 4px;
}
.tasks-counter{
	float: left;
}
.add-new-item{
	background-color: rgba(0,0,0,0.2);
	color: #E9EADA;
	float: right;
	font-size: 2.0rem;
	padding: 4px 8px 8px 8px;
	text-align: center;
	text-decoration: none;
}
.task-list{
	margin: 0 auto;
	width: 95%;
}
.task-list li{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	background-color: #F4F6F8;
	margin-top: 5px;
}
.task-list li .true{
	text-decoration:line-through;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:30px;
    height:30px;
    margin-right: 4px;
    vertical-align:middle;
    background: #D7D7D7;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background: #74AC2C;
}
.item-form{
	margin: 0 auto;
	margin-top: 4%;
	width: 80%;
}
.item-form form input[type="text"]{
	border: 0;
	border-radius: 0;
	background-color: #F4F6F8;
	height: 30px;
	padding: 0 2%;
	width: 96%;
}
.delete{
	display: block;
	font-size: 1.8rem;
	margin-top: 2%;
	text-align: center;
	width: 100%;
}
.delete:hover{
	cursor: pointer;
}

.taskprio{
	text-align: center;
	width: 100%;
	margin-top: 4%;
}
.add-prio{
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 4%;
	width: 130px;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin-right: 4px;
    vertical-align:middle;
    cursor:pointer;
    border-radius: 100%;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
}
input[type="radio"]:checked + label span {
    border: 12px solid rgba(255,255,255, 0.3);
}
.blue{
	background-color: #425FB9;
}
.blue-prio{
	border-right: 10px solid #425FB9;
}
.purple{
	background-color: #972CAC;
}
.purple-prio{
	border-right: 10px solid #972CAC;
}
.brown{
	background-color: #C5705A;
}
.brown-prio{
	border-right: 10px solid #C5705A;
}
.orange{
	background-color: #EC943D;
}
.orange-prio{
	border-right: 10px solid #EC943D;
}
.addButton{
	background-color: #74AC2C;
	border: 0;
	color: #E9EADA;
	padding: 8px 30px;
}
.clear{
	clear: both;
}


