<header class="main-header">
	<a href="#" class="add-new-item"><</a>
	<h1 class="title">Add new task</h1>
	<div class="clear"></div>
</header>
<div class="item-form">
	<form>
		<input id="task" type="text" placeholder="Enter your task" />
		<p class="taskprio">Priority</p>
		<div class="add-prio">
			<input type="radio" name="prio" id="1" value="blue" checked="true">
			<label for="1"><span class="blue"></span></label>
			<input type="radio" name="prio" id="2" value="purple">
			<label for="2"><span class="purple"></span></label>
			<input type="radio" name="prio" id="3" value="orange">
			<label for="3"><span class="orange"></span></label>
			<input type="radio" name="prio" id="4" value="brown">
			<label for="4"><span class="brown"></span></label>
		</div>


		<button class="addButton">Add</button>





	</form>
</div>