<header class="main-header">
	<a href="#/new" class="add-new-item">+</a>
	<h1 class="title">Tasklist</h1>
	<!--<p class="tasks-completed"><i class="fa fa-check"></i> 10</p> Completed -->
	<!--<p class="tasks-counter"><i class="fa fa-circle"></i> 6</p> Remaining -->
	<div class="clear"></div>
</header>



<% if(tasks.length === 0){ %>
	<p>There're no stored tasks</p>
<% }else{ %>

<ul class="task-list">
	<% _.each(tasks, function(task){ %>
		<li>
			<input type="checkbox" id="<%= task.cid %>" <% if (task.attributes.done) { %>checked="checked"<% } %>/>
			<label for="<%= task.cid %>">
				<span></span>
			</label>
			<span class="<%= task.attributes.done %>"><%= task.attributes.task %></span>
		</li>
	<% }); %>
</ul>
<% } %>